body{
	background-color: #ff007f;
}
h1{
	text-align: center;
	font-size: 45px;
	font-family: sans-serif;
	background: lightgreen;
}

h2{
	background: skyblue;
	text-align: center;
	font-size: 35px;
	color: white;
	padding: 5px;
	margin: 20px;
}
